{% load static %}

<div class="ag-timeline-block">
{#    <div class="ag-timeline_title-box">#}
{#        <div class="ag-timeline_title">No Flex</div>#}
{#    </div>#}
    <section class="ag-section">
        <div class="ag-format-container">
            <div class="js-timeline ag-timeline">
                <div class="js-timeline_line ag-timeline_line">
                    <div class="js-timeline_line-progress ag-timeline_line-progress"></div>
                </div>
                <div class="ag-timeline_list">
                    <div class="js-timeline_item ag-timeline_item">
                        <div class="ag-timeline-card_box">
                            <div class="js-timeline-card_point-box ag-timeline-card_point-box">
                                <div class="ag-timeline-card_point">14.30</div>
                            </div>
                            <div class="ag-timeline-card_meta-box">
                                <div class="ag-timeline-card_meta">Davetli Girişi</div>
                            </div>
                        </div>
                        <div class="ag-timeline-card_item">
                            <div class="ag-timeline-card_inner">
                                <div class="ag-timeline-card_img-box">
                                    <img src="{% static 'invitation/img/double_f_1.jpg' %}"
                                         class="ag-timeline-card_img" width="640"/>
                                </div>
                                <div class="ag-timeline-card_info">
                                    <div class="ag-timeline-card_title">Davetli Girişi</div>
                                    <div class="ag-timeline-card_desc">
                                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                                    </div>
                                </div>
                            </div>
                            <div class="ag-timeline-card_arrow"></div>
                        </div>
                    </div>

                    <div class="js-timeline_item ag-timeline_item">
                        <div class="ag-timeline-card_box">
                            <div class="ag-timeline-card_meta-box">
                                <div class="ag-timeline-card_meta">Nikah</div>
                            </div>
                            <div class="js-timeline-card_point-box ag-timeline-card_point-box">
                                <div class="ag-timeline-card_point">15.00</div>
                            </div>
                        </div>
                        <div class="ag-timeline-card_item">
                            <div class="ag-timeline-card_inner">
                                <div class="ag-timeline-card_img-box">
                                    <img src="{% static 'invitation/img/yuzuk.webp' %}"
                                         class="ag-timeline-card_img" width="640" alt=""/>
                                </div>
                                <div class="ag-timeline-card_info">
                                    <div class="ag-timeline-card_title">Nikah</div>
                                    <div class="ag-timeline-card_desc">
                                        Donec pede justo, fringilla
                                        vel, aliquet nec, vulputate eget, arcu.
                                    </div>
                                </div>
                            </div>
                            <div class="ag-timeline-card_arrow"></div>
                        </div>
                    </div>

                    <div class="js-timeline_item ag-timeline_item">
                        <div class="ag-timeline-card_box">
                            <div class="js-timeline-card_point-box ag-timeline-card_point-box">
                                <div class="ag-timeline-card_point">15.30</div>
                            </div>
                            <div class="ag-timeline-card_meta-box">
                                <div class="ag-timeline-card_meta">Fotoğraf Çekimi</div>
                            </div>
                        </div>
                        <div class="ag-timeline-card_item">
                            <div class="ag-timeline-card_inner">
                                <div class="ag-timeline-card_img-box">
                                    <img src="{% static 'invitation/img/double_f_1.jpg' %}"
                                         class="ag-timeline-card_img" width="640" alt=""/>
                                </div>
                                <div class="ag-timeline-card_info">
                                    <div class="ag-timeline-card_title">Fotoğraf Çekimi</div>
                                    <div class="ag-timeline-card_desc">
                                        Aenean imperdiet. Etiam ultricies
                                        nisi vel augue. Curabitur ullamcorper ultricies nisi.
                                    </div>
                                </div>
                            </div>
                            <div class="ag-timeline-card_arrow"></div>
                        </div>
                    </div>

                    <div class="js-timeline_item ag-timeline_item">
                        <div class="ag-timeline-card_box">
                            <div class="ag-timeline-card_meta-box">
                                <div class="ag-timeline-card_meta">Yemek Servisi</div>
                            </div>
                            <div class="js-timeline-card_point-box ag-timeline-card_point-box">
                                <div class="ag-timeline-card_point">16.00</div>
                            </div>
                        </div>
                        <div class="ag-timeline-card_item">
                            <div class="ag-timeline-card_inner">
                                <div class="ag-timeline-card_img-box">
                                    <img src="{% static 'invitation/img/yuzuk.webp' %}"
                                         class="ag-timeline-card_img" width="640" alt=""/>
                                </div>
                                <div class="ag-timeline-card_info">
                                    <div class="ag-timeline-card_title">Yemek Servisi</div>
                                    <div class="ag-timeline-card_desc">
                                        Cum sociis natoque penatibus et magnis dis parturient
                                        montes, nascetur ridiculus mus.
                                    </div>
                                </div>
                            </div>
                            <div class="ag-timeline-card_arrow"></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
</div>