{% extends 'layout.html' %}
{% load static %}
{% load template_filters %}



{% block extra_head %}

    {#    Course Coupon CSS#}
    <style>
        .course_name {
            color: gray;
        }

        .sticky-container {
            background-color: #794cdf;
            box-shadow: gray -1px 1px;
            padding-top: 10px;
            padding-left: 10px;
            padding-bottom: 10px;
            padding-right: 30px;
            position: fixed;
            top: 50%;
            right: 0px;
            width: 0px;
            height: auto;
            z-index: 999;
            margin-top: -24px;
            text-align: center;
        }

        .sticky-container:hover {
            width: 24px;
        }

        .sticky-container a {
            padding: 0 !important;
            display: block;
            text-align: left;
            height: 140px;
            width: 24px;
            padding: 8px 16px;
            color: #fff;
            font-family: Arial, sans-serif;
            font-size: 17px;
            font-weight: bold;
            text-decoration: none;
        }

        .rotated {
            writing-mode: tb-rl;
            transform: rotate(-180deg);
        }

        .tr_mobile {
            white-space: nowrap;
        }
    </style>
{% endblock %}

{% block content %}
    <!--================Home Banner Area =================-->
    <section class="home_banner_area">
        <div class="container box_1620" style="bottom: -150px; ">
            <div class="banner_inner d-flex align-items-center">
                <div class="banner_content">
                    <div class="media">
                        <div class="d-flex">
                            <img class="" src="{{ person_image }}" alt="Berkay Mizrak Photo"
                                 style="width: 100%; max-width: 500px">
                        </div>
                        <div class="media-body">
                            <div class="personal_text">
                                <h6>I am</h6>
                                <h3 style="font-family: Poppins, 'sans-serif'">{{ person_name }}</h3>
                                <h4>{{ person_position }}</h4>
                                <p>

                                    <i style="font-size: 25px; color: #794cdf" class="mr-4 fas fa-quote-left"></i>
                                    {{ person_description }}
                                    <i style="font-size: 25px; color: #794cdf" class="ml-4 fas fa-quote-right"></i>

                                </p>
                                <ul class="list basic_info">
                                    <li>
                                        <a href="mailto:info@berkaymizrak.com"><i style="color: black"
                                                                                  class="lnr lnr-envelope"></i>
                                            info@berkaymizrak.com
                                        </a>
                                    </li>
                                    <li><a href="javascript:void(0);"><i style="color: black" class="lnr lnr-home"></i>
                                        Kartal, Turkey</a>
                                    </li>
                                </ul>
                                <ul class="list personal_social">
                                    {% for social_media in social_medias %}
                                        <li>
                                            <a href="{{ social_media.url }}" target="_blank">
                                                {{ social_media.icon|safe }}
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>

                                {#                                <div class="row">#}
                                {#                                    <div class="float-right">#}
                                {##}
                                {#                                        <button class="resume_download btn btn-outline-dark">#}
                                {#                                            <a style="color: black;" href="">Resume-EN#}
                                {#                                                <i class="ml-2 fas fa-long-arrow-alt-down"></i>#}
                                {#                                            </a>#}
                                {#                                        </button>#}
                                {##}
                                {#                                        <button class="resume_download ml-2 btn btn-outline-dark">#}
                                {#                                            <a style="color: black;" href="">Resume-TR#}
                                {#                                                <i class="ml-2 fas fa-long-arrow-alt-down"></i>#}
                                {#                                            </a>#}
                                {#                                        </button>#}
                                {#                                    </div>#}
                                {#                                </div>#}
                                {#           <div class="row">#}
                                {#               {% for document in documents %}#}
                                {#                   <div class="col-md-6">#}
                                {##}
                                {#                       <div class="more_btn">#}
                                {#                           <a class="main_btn" href="{{ document.file.url }}"#}
                                {#                              target="_blank">{{ document.button_text|get_object_value_or_none }}</a>#}
                                {#                       </div>#}
                                {#                   </div>#}
                                {#               {% endfor %}#}
                                {#           </div>#}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End Home Banner Area =================-->

    <!--================Welcome Area =================-->
    <section class="welcome_area p_120" style="padding-bottom: 60px; ">
        <div class="container">
            {% for skill_type, skills in skills_mapped.items %}
                <span>{{ skill_type }}</span>
                <div class="row welcome_inner" style="margin-bottom: 1em; ">
                    {% for skill in skills %}
                        <div class="col-md-3">
                            <div class="tools_expert">
                                <div class="skill_main">
                                    <div class="skill_item">
                                        <h4>
                                            {{ skill.name|get_object_value_or_none }} <span
                                                class="counter">{{ skill.percent }}</span>%
                                        </h4>
                                        <div class="progress_br">
                                            <div class="progress">
                                                <div class="progress-bar" role="progressbar"
                                                     aria-valuenow="{{ skill.percent }}"
                                                     aria-valuemin="0"
                                                     aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                {% if not forloop.last %}
                    <hr>
                {% endif %}
            {% endfor %}
        </div>
    </section>
    <!--================End Welcome Area =================-->

    <!--================Contact Area =================-->
    <section id="contact_area" class="contact_area testimonials_area p_120" style="padding-top: 60px; ">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="contact_info">
                        <div class="info_item">
                            <i style="color: black;" class="lnr lnr-home"></i>
                            <h6><a href="javascript:void(0);">Kartal, Turkey</a></h6>
                            <p></p>
                        </div>
                        <div class="info_item">
                            <i style="color: black;" class="lnr lnr-envelope"></i>
                            <h6><a href="mailto:info@berkaymizrak.com">info@berkaymizrak.com</a></h6>
                            <p>Mail me anytime!</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9">
                    <form class="row contact_form" method="post" id="contactForm" novalidate="novalidate">
                        {% csrf_token %}
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" id="{{ form.name.id_for_label }}"
                                       name="{{ form.name.html_name }}"
                                       placeholder="{{ form.name.label|get_object_value_or_none }}">
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" id="{{ form.email.id_for_label }}"
                                       name="{{ form.email.html_name }}"
                                       placeholder="{{ form.email.label|get_object_value_or_none }}">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" id="{{ form.subject.id_for_label }}"
                                       name="{{ form.subject.html_name }}"
                                       placeholder="{{ form.subject.label|get_object_value_or_none }}">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                            <textarea class="form-control" name="{{ form.message.html_name }}"
                                      id="{{ form.message.id_for_label }}" rows="1"
                                      placeholder="{{ form.message.label|get_object_value_or_none }}"></textarea>
                            </div>
                        </div>
                        <input type="hidden" id="g-recaptcha-response" name="g-recaptcha-response">
                        <div class="col-md-12 text-right">
                            <button id="submit_btn" type="submit" value="submit" class="btn submit_btn">Send Message
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!--================Contact Area =================-->

    <!--================Promotion Codes Modal =================-->
    {% if coupons %}
        <div class="sticky-container">
            <div class="button-container">
                <a href="#" class="rotated" onclick="showCoupons();">
                    Udemy Coupons
                </a>
            </div>
        </div>

        <div class="modal fade" id="promotion_codes_web" tabindex="-1" aria-labelledby="myModalLabelWeb"
             aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="myModalLabelWeb">Udemy Courses</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                    <div class="modal-body" style="overflow-x: auto;">
                        <table class="table">
                            <thead>
                            <tr>
                                <th style="width: 400px; min-width: 230px;">Course</th>
                                <th style="width: 123px;">Original Price</th>
                                <th style="width: 147px;">Discount Price</th>
                                <th style="width: 130px; min-width: 130px;">Coupon Code</th>
                                <th style="width: 150px; min-width: 150px;">Expire Date</th>
                                <th style="width: 90px; min-width: 90px;"></th>
                            </tr>
                            </thead>
                            <tbody>

                            {% for coupon in coupons %}
                                <tr>
                                    <td><b><a href="{{ coupon.course_url }}" target="_blank" class="course_name">
                                        {{ coupon.course_name }}
                                    </a></b></td>
                                    <td style="text-align: center;">
                                        <del style="color: gray">{{ coupon.original_price }}₺</del>
                                    </td>
                                    <td style="text-align: center;">{{ coupon.discount_price }}₺</td>
                                    <td style="text-align: center;">{{ coupon.coupon_code }}</td>
                                    <td style="text-align: center;">{{ coupon.expiration_date|date:"d-m-Y H:i" }}</td>
                                    <td>
                                        <button class="btn btn-sm btn-primary"
                                                onclick="window.open('{{ coupon.course_url }}');">
                                            Sign Up
                                        </button>
                                    </td>
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="promotion_codes_mobile" tabindex="-1" aria-labelledby="myModalLabelMobile"
             aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="myModalLabelMobile">Udemy Courses</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                    <div class="modal-body" style="overflow-x: auto;">
                        <table class="table">
                            <tbody>
                            <tr class="tr_mobile">
                                <th>Course</th>
                                {% for coupon in coupons %}
                                    <td>
                                        <b>
                                            <a href="{{ coupon.course_url }}" target="_blank" class="course_name">
                                                {{ coupon.course_name }}
                                            </a>
                                        </b>
                                    </td>
                                {% endfor %}
                            <tr class="tr_mobile">
                            <tr>
                                <th>Original Price</th>
                                {% for coupon in coupons %}
                                    <td>
                                        <del style="color: gray">{{ coupon.original_price }}₺</del>
                                    </td>
                                {% endfor %}
                            </tr>
                            <tr class="tr_mobile">
                                <th>Discount Price</th>
                                {% for coupon in coupons %}
                                    <td>{{ coupon.discount_price }}₺</td>
                                {% endfor %}
                            </tr>
                            <tr class="tr_mobile">
                                <th>Coupon Code</th>
                                {% for coupon in coupons %}
                                    <td>{{ coupon.coupon_code }}₺</td>
                                {% endfor %}
                            </tr>
                            <tr class="tr_mobile">
                                <th>Expire Date</th>
                                {% for coupon in coupons %}
                                    <td>{{ coupon.expiration_date|date:"d-m-Y H:i" }}</td>
                                {% endfor %}
                            </tr>
                            <tr class="tr_mobile">
                                <th></th>
                                {% for coupon in coupons %}
                                    <td>
                                        <button class="btn btn-sm btn-primary"
                                                onclick="window.open('{{ coupon.course_url }}');">
                                            Sign Up
                                        </button>
                                    </td>
                                {% endfor %}
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    <!--================End Promotion Codes Modal =================-->

    <!--================Contact Success and Error message Area =================-->
    <div id="success" class="modal modal-message fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="fas fa-times"></i>
                    </button>
                    <h2>Thank you</h2>
                    <p id="success_message">Your message is successfully sent...</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Modals error -->

    <div id="error" class="modal modal-message fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="fas fa-times"></i>
                    </button>
                    <h2>Sorry !</h2>
                    <p id="error_message"> Something went wrong </p>
                </div>
            </div>
        </div>
    </div>
    <!--================End Contact Success and Error message Area =================-->

{% endblock %}

{% block extra_scripts %}

    <script>
        var queryString = window.location.search;
        var urlParams = new URLSearchParams(queryString);
        var coupons = urlParams.get('coupons')
        if (coupons) {
            showCoupons();
        }

        function showCoupons() {
            if ($(window).width() < 768) {
                $('#promotion_codes_mobile').fadeIn()
                $('#promotion_codes_mobile').modal('show');
            } else {
                $('#promotion_codes_web').fadeIn()
                $('#promotion_codes_web').modal('show');
            }
        }
    </script>

    <!-- contact js -->
    <script src="{% static 'template/js/jquery.form.js' %}"></script>
    <script src="{% static 'template/js/jquery.validate.min.js' %}"></script>
    <script src="{% static 'template/js/contact.js' %}"></script>
{% endblock %}

