{% extends 'layout.html' %}
{% load static %}

{% block content %}
    <!--================Home Banner Area =================-->
    <section class="home_banner_area">
        <div class="container box_1620" style="bottom: -150px; ">
            <div class="banner_inner d-flex align-items-center">
                <div class="banner_content">
                    <div class="media">
                        <div class="d-flex">
                            <img src="{{ person_image }}" alt="Berkay Mizrak Photo"
                                 style="width: 100%; max-width: 500px">
                        </div>
                        <div class="media-body">
                            <div class="personal_text">
                                <h6>Hello Everybody, i am</h6>
                                <h3>{{ person_name }}</h3>
                                <h4>{{ person_position }}</h4>
                                <p>
                                    {{ person_description }}
                                </p>
                                <ul class="list basic_info">
                                    <li>
                                        <a href="mailto:info@berkaymizrak.com"><i class="lnr lnr-envelope"></i>
                                            info@berkaymizrak.com
                                        </a>
                                    </li>
                                    <li><a href="javascript:void(0);"><i class="lnr lnr-home"></i> Sisli, Turkey</a>
                                    </li>
                                </ul>
                                <ul class="list personal_social">
                                    {% for social_media in social_medias %}
                                        <li>
                                            <a href="{{ social_media.url }}" target="_blank">
                                                {{ social_media.icon|safe }}
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>

                                <div class="row">
                                    {% for document in documents %}
                                        <div class="col-md-6">

                                            <div class="more_btn">
                                                <a class="main_btn" href="{{ document.file.url }}"
                                                   target="_blank">{{ document.button_text }}</a>
                                            </div>
                                        </div>
                                    {% endfor %}

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End Home Banner Area =================-->

    <!--================Welcome Area =================-->
    <section class="welcome_area p_120" style="padding-bottom: 60px; ">
        <div class="container">
            <div class="row welcome_inner">
                {% for skill in skills %}
                    <div class="col-md-6">
                        <div class="tools_expert">
                            <div class="skill_main">
                                <div class="skill_item">
                                    <h4>
                                        {{ skill.name }} <span class="counter">{{ skill.percent }}</span>%
                                    </h4>
                                    <div class="progress_br">
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar"
                                                 aria-valuenow="{{ skill.percent }}"
                                                 aria-valuemin="0"
                                                 aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!--================End Welcome Area =================-->

    <!--================Contact Area =================-->
    <section id="contact_area" class="contact_area testimonials_area p_120" style="padding-top: 60px; ">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="contact_info">
                        <div class="info_item">
                            <i class="lnr lnr-home"></i>
                            <h6><a href="javascript:void(0);">Sisli, Turkey</a></h6>
                            <p></p>
                        </div>
                        <div class="info_item">
                            <i class="lnr lnr-envelope"></i>
                            <h6><a href="mailto:info@berkaymizrak.com">info@berkaymizrak.com</a></h6>
                            <p>Mail me anytime!</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9">
                    <form class="row contact_form" method="post" id="contactForm" novalidate="novalidate">
                        {% csrf_token %}
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" id="{{ form.name.id_for_label }}"
                                       name="{{ form.name.html_name }}"
                                       placeholder="{{ form.name.label }}">
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" id="{{ form.email.id_for_label }}"
                                       name="{{ form.email.html_name }}"
                                       placeholder="{{ form.email.label }}">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" id="{{ form.subject.id_for_label }}"
                                       name="{{ form.subject.html_name }}"
                                       placeholder="{{ form.subject.label }}">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                            <textarea class="form-control" name="{{ form.message.html_name }}"
                                      id="{{ form.message.id_for_label }}" rows="1"
                                      placeholder="{{ form.message.label }}"></textarea>
                            </div>
                        </div>
                        <input type="hidden" id="g-recaptcha-response" name="g-recaptcha-response">
                        <div class="col-md-12 text-right">
                            <button id="submit_btn" type="submit" value="submit" class="btn submit_btn">Send Message</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!--================Contact Area =================-->

    <!--================Contact Success and Error message Area =================-->
    <div id="success" class="modal modal-message fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="fas fa-times"></i>
                    </button>
                    <h2>Thank you</h2>
                    <p id="success_message">Your message is successfully sent...</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Modals error -->

    <div id="error" class="modal modal-message fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="fas fa-times"></i>
                    </button>
                    <h2>Sorry !</h2>
                    <p id="error_message"> Something went wrong </p>
                </div>
            </div>
        </div>
    </div>
    <!--================End Contact Success and Error message Area =================-->

{% endblock %}

{% block extra_scripts %}
    <!-- contact js -->
    <script src="{% static 'template/js/jquery.form.js' %}"></script>
    <script src="{% static 'template/js/jquery.validate.min.js' %}"></script>
    <script src="{% static 'template/js/contact.js' %}"></script>
{% endblock %}

