{% load static %}
{% load template_filters %}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="description" content="{% block meta_description_block %}{{ meta_description }}{% endblock %}">
    <title>
        {% block title %}
            {{ site_title|get_object_value_or_default }}
            {% block detailed_title %}
                {% if home_detail_title %}
                    | {{ home_detail_title }}
                {% endif %}
            {% endblock %}
        {% endblock %}
    </title>

    <meta property="og:title"
          content="
                  {% block og_title %}{{ site_title|get_object_value_or_default }}{% if home_detail_title %} | {{ home_detail_title }}{% endif %}{% endblock %}"/>
    <meta property="og:url" content="https://berkaymizrak.com/"/>
    <meta property="og:description" content="{% block og_description %}{{ meta_description }}{% endblock %}">
    <meta property="og:image" content="{{ og_image }}">
    <meta property="og:locale" content="en_US"/>
    <meta property="og:type" content="website"/>
    <meta name="keywords" content="{{ site_keywords }}">
    <meta name="author" content="berkaymizrak">
    <meta http-equiv="Content-Language" content="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'favicon/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'favicon/apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'favicon/apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'favicon/apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'favicon/apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'favicon/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'favicon/apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'favicon/apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192" href="{% static 'favicon/android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'favicon/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicon/manifest.json' %}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{% static 'favicon/ms-icon-144x144.png' %}">
    <meta name="theme-color" content="#ffffff">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ google_analytics_tracking_id }}"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', '{{ google_analytics_tracking_id }}');
    </script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'template/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'template/vendors/linericon/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
          integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="{% static 'template/vendors/owl-carousel/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'template/vendors/lightbox/simpleLightbox.css' %}">
    <link rel="stylesheet" href="{% static 'template/vendors/nice-select/css/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'template/vendors/animate-css/animate.css' %}">
    <link rel="stylesheet" href="{% static 'template/vendors/popup/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'template/vendors/flaticon/flaticon.css' %}">
    <!-- main css -->
    <link rel="stylesheet" href="{% static 'template/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'template/css/responsive.css' %}">

    <script src='https://www.google.com/recaptcha/api.js?render={{ GOOGLE_RECAPTCHA_SITE_KEY }}'></script>

    <style>
        .grecaptcha-badge {
            opacity: 0 !important;
        }

        .toast-container {
            position: fixed;
            left: 25px;
            bottom: 25px;
            z-index: 9999;
        }
    </style>

    <script>
        //global grecaptcha
        grecaptcha.ready(function () {
            grecaptcha.execute('{{ GOOGLE_RECAPTCHA_SITE_KEY }}', {action: "{% url 'index' %}"}).then(function (token) {
                document.getElementById('g-recaptcha-response').value = token;
            });
        });
    </script>

    {% block extra_head %}

    {% endblock %}

</head>
<body>

    <div class="toast-container">
        <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-autohide="false">
            <div class="toast-header">
                <strong class="mr-auto">Is Working Abroad Interesting??</strong>
                <small class="text-muted"></small>
                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="toast-body">
                Are you planning to <b style="color: black!important;">work abroad from Turkey?</b> Contact me to get professional help with <b style="color: black!important;">legal</b> and <b style="color: black!important;">payment</b> stuff, I'll make it so easy for you!
            </div>
        </div>
    </div>

{% block body %}

    <!--================Header Menu Area =================-->
    <header class="header_area">
        <div class="main_menu">
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container box_1620">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <a class="navbar-brand logo_h" href="{% url 'index' %}">
                        <img style="width: 60px;"
                             src="{{ header_logo }}"
                             alt="Berkay Mızrak Header Logo">
                    </a>


                    {#                    <div class="float-right">#}
                    {#                        <button class="resume_download btn btn-outline-light">#}
                    {#                            <a style="color: white;" href="">Resume-EN#}
                    {#                                <i class="ml-2 fas fa-long-arrow-alt-down"></i>#}
                    {#                            </a>#}
                    {#                        </button>#}
                    {##}
                    {#                        <button class="resume_download ml-2 btn btn-outline-light">#}
                    {#                            <a style="color: white;" href="">Resume-TR#}
                    {#                                <i class="ml-2 fas fa-long-arrow-alt-down"></i>#}
                    {#                            </a>#}
                    {#                        </button>#}
                    {#                    </div>#}


                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                        <ul class="nav navbar-nav menu_nav ml-auto">
                            {% for document in documents %}
                                <li class="nav-item">
                                    <a class="nav-link"
                                       href="{{ document.file|get_document_url }}"
                                       target="_blank">
                                        {{ document.button_text|get_object_value_or_none }}
                                        <i class="fas fa-download" style="margin-left: 6px"></i>
                                    </a>
                                </li>
                            {% endfor %}
                            {#                            <li class="nav-item"><a class="nav-link" href="#skill">Download My CV -TR</a></li>#}
                            {#                            <li class="nav-item"><a class="nav-link" href="#skill">Download My CV -EN</a></li>#}
                            {#                                            <li class="nav-item"><a class="nav-link" href="#skill">Skills</a></li>#}
                            {#                                            <li class="nav-item"><a class="nav-link" href="#contact_area">Contact</a></li>#}
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <!--================Header Menu Area =================-->

    {% block content %}

    {% endblock %}
    <!--================Footer Area =================-->
    <footer class="footer_area p-3">
        <div class="container">
            <div class="footer_inner">
                <aside class="f_widget ab_widget">
                    <p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;2021
                        All rights reserved
                        | Designed by
                        <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        | Developed by
                        <a href="https://berkaymizrak.com">BerkayMizrak</a>
                        |
                        <a href="https://github.com/berkaymizrak/Resume-Django-Web-App" target="_blank">Full Project
                            Source Code</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </aside>
            </div>
        </div>
    </footer>
    <!--================End Footer Area =================-->

{% endblock %}

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="{% static 'template/js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'template/js/popper.js' %}"></script>
<script src="{% static 'template/js/bootstrap.js' %}"></script>
<script src="{% static 'template/js/stellar.js' %}"></script>
<script src="{% static 'template/vendors/lightbox/simpleLightbox.min.js' %}"></script>
<script src="{% static 'template/vendors/nice-select/js/jquery.nice-select.min.js' %}"></script>
<script src="{% static 'template/vendors/isotope/imagesloaded.pkgd.min.js' %}"></script>
<script src="{% static 'template/vendors/isotope/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'template/vendors/owl-carousel/owl.carousel.min.js' %}"></script>
<script src="{% static 'template/vendors/popup/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'template/js/jquery.ajaxchimp.min.js' %}"></script>
<script src="{% static 'template/vendors/counter-up/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'template/vendors/counter-up/jquery.counterup.min.js' %}"></script>
<script src="{% static 'template/js/mail-script.js' %}"></script>
<script src="{% static 'template/js/theme.js' %}"></script>
<script>
    $('.toast').toast('show')
</script>
{% block extra_scripts %}

{% endblock %}

</body>
</html>